@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
:root {
  --main-color: #1a1a2e; /* Dark navy blue */
  --second-color: #16213e; /* Darker navy blue */
  --third-color: #0f3460; /* Dark blue */
  --header-color: #e94560; /* Dark red */
  --text-color: #e8e8e8; /* Light gray */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--second-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  background-color: var(--third-color);
  color: var(--text-color);
  transition-duration: 0.3s;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  box-shadow: -2px 2px 0 0 var(--main-color);
}
.btn:hover {
  background-color: var(--main-color);
  border: 1px solid var(--header-color);
  box-shadow: -2px 2px 0 2px var(--header-color);
}
/* Default container width */
.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

/* Media query for tablets */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%; /* Adjust width for tablets */
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%; /* Adjust width for mobile devices */
    padding: 0 10px; /* Add some padding for better readability */
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  text-shadow: -3px 3px 0 var(--main-color);

  width: fit-content;
  font-family: "Fira Code", monospace;
  line-height: 1.5;
}
p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);
}
header {
  width: 100%;
  background-color: var(--header-color);
  box-shadow: 0 2px 2px 2px var(--main-color);
  height: 100px;
  overflow: hidden;
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 103;
}
header .container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 60px;
  height: 60px;
}
header .container .logo img {
  width: 100%;
  height: 100%;
}
header form {
  background-color: var(--text-color);
  padding: 10px 20px;
  border-radius: 25px;
  width: 30%;
  border: 2px solid black;
  box-shadow: -1px 1px 0 2px black;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header form {
    width: 50%;
  }
}
header form:hover {
  box-shadow: -4px 4px 0 2px black;
}
header form input,
header form button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--third-color);
}
header form input {
  width: 100%;
}
header form i {
  font-size: 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}
nav ul li {
  padding: 10px;
  position: relative;
}
nav li.sign-up {
  background-color: var(--second-color);
  box-shadow: -2px 1px 0 0 var(--third-color);
  transition-duration: 0.3s;
  border-radius: 25px;
  margin-left: 5px;
}
nav li.sign-up a {
  padding: 10px 20px;
}
nav li.sign-up:hover {
  background-color: var(--main-color);
  box-shadow: -2px 1px 0 1px var(--third-color);
  transform: scale(1.03);
}
nav li.sign-up::before {
  display: none;
}
nav li.sign-up:hover a {
  color: white;
}
nav ul li::before {
  content: "";
  background-color: var(--third-color);
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.3s;
}
nav ul li:hover::before {
  width: 100%;
}
nav ul li a {
  color: white;
  transition-duration: 0.3s;
  font-weight: 600;
}
nav ul li:hover a {
  color: var(--third-color);
  text-shadow: -1px 1px 0 var(--main-color);
}
.nav-icon {
  display: none;
  width: 30px;
  height: 15px;
  position: relative;
  cursor: pointer;
}
.nav-icon span {
  background-color: var(--text-color);
  border-radius: 3px;
  position: absolute;
  width: 67%;
  height: 2px;
  right: 0;
  top: 0;
  transition-duration: 0.3s;
}
.nav-icon span:nth-child(2) {
  width: 50%;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-icon span:nth-child(3) {
  width: 100%;
  height: 3px;
  top: 100%;
  transform: translateY(-50%);
}
.nav-icon.active span,
.nav-icon:hover span {
  background-color: white;
  width: 100%;
  height: 3px;
}
.nav-icon.active span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.nav-icon.active span:nth-child(2) {
  display: none;
}
.nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}
.nav-menu {
  position: absolute;
  top: 110px;
  display: none;
}
.nav-menu li {
  padding: 15px;
  display: block;
}
.nav-menu a {
  color: white;
  font-weight: 600;
  transition-duration: 0.3s;
}
.nav-menu a:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  header.active {
    height: 320px;
  }
  nav {
    display: none;
  }
  .nav-menu,
  .nav-icon {
    display: block;
  }
}
main {
  padding: 2rem;
  text-align: center;
}
.intro,
.about,
.story,
.highlights,
.cta {
  margin-bottom: 2rem;
}
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body > .image {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
body > .image img {
  width: 100%;
  height: 100%;
}
.intro > div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  background-color: var(--third-color);
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 200px 100px var(--third-color);
}
.intro > div::before,
.intro > div::after {
  content: "";
  background-color: var(--third-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0 0 200px 0 var(--third-color);
}
.intro > div::before {
  opacity: 0.2;
  width: 200%;
  height: 200%;
}
.intro > div::after {
  opacity: 0.1;
  width: 300%;
  height: 300%;
}
.intro h1 {
  font-size: 3.5rem;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .intro h1 {
    font-size: 2.5rem;
  }
}
.intro h1 + p {
  font-weight: 600;
  font-size: 1.3rem;
}
.intro > a {
  color: var(--text-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: -2px 2px 0 2px var(--main-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: jumbing 2s infinite alternate;
}
@keyframes jumbing {
  0% {
    transform: translate(-50%, 0);
  }
  15% {
    transform: translate(-50%, -20px);
  }
  30% {
    transform: translate(-50%, 0);
  }
  45% {
    transform: translate(-50%, -20px);
  }
  60% {
    transform: translate(-50%, 0px);
  }
  70% {
    transform: translate(-50%, -20px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@media (max-width: 767px) {
  .intro > a {
    display: none;
  }
}
.blogs {
  padding: 50px 0;
}
.blogs h2 {
  margin: auto;
  font-size: 2.5rem;
}
.blogs .cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 20px;
  margin: 50px 0;
}
@media (max-width: 767px) {
  .blogs .cards {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
.blogs .card {
  padding: 50px 20px;
  background-color: var(--main-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 2px 0 3px var(--third-color);
  transition-duration: 0.3s;
}
.blogs .card:hover {
  transform: scale(1.02);
  outline: 3px solid var(--third-color);
  box-shadow: -3px 5px 0 5px var(--third-color);
}
.blogs .card h3 {
  color: white;
  text-shadow: -1px 0px 0 var(--main-color);
  transition-duration: 0.3s;
}
.blogs .card:hover h3 {
  text-shadow: -2px 1px 0 var(--main-color);
}
.blogs .card img {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 20px 0;
}
.blogs .card ul {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.blogs .card ul li {
  background-color: var(--second-color);
  border-radius: 50px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  box-shadow: -1px 1px 0 0 var(--main-color);
}
.blogs .card ul li:hover {
  background-color: var(--header-color);
  box-shadow: -2px 1px 0 1px var(--third-color);
}
.blogs .card ul li a {
  color: white;
  font-size: 0.6rem;
  padding: 5px 10px;
}
.about h2,
.story h2,
.highlights h2,
.cta h2 {
  margin: auto;
  font-size: 2.5rem;
}
.about p,
.story p,
.highlights li,
.cta p {
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.cta a {
  display: block;
  width: fit-content;
  margin: 30px auto;
}
footer {
  background-color: var(--header-color);
  padding: 20px;
  text-align: center;
}
footer a {
  font-weight: 800;
  color: var(--main-color);
}
